.about-us {
  &-content {
    @include breakpoint(xs) {
      flex-direction: column-reverse;
    }
    @include breakpoint(sm) {
      flex-direction: column-reverse;
    }
    &-text {
      font-size: 0.875rem;
      padding-right: 30px;
      @include breakpoint(xs) {
        padding-right: 0;
        .btn {
          display: flex;
          justify-content: center;
          margin: 0 auto;
        }
      }
      @include breakpoint(sm) {
        padding-right: 0;
        .btn {
          display: flex;
          justify-content: center;
          margin: 0 auto;
        }
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}
