.contact-us {
  max-width: 600px;
  padding: 0 30px;
  margin: 0 auto;
  form {
    justify-content: space-between;
    .contact-us-name,
    .contact-us-email,
    .contact-us-subject,
    .contact-us-message {
      margin-bottom: 30px;
      padding: 15px 0px;
      font-size: 0.8125rem;
      outline: none;
      border: none;
      border-bottom: 2px solid $color3;
      color: $color3;
      background: transparent;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:active,
      &:focus {
        border-bottom: 2px solid $color1;
      }
      @include breakpoint(xs) {
        border-bottom: 1.5px solid $color3;
        &:hover,
        &:active,
        &:focus {
          border-bottom: 1.5px solid $color1;
        }
      }
    }
    .contact-us-name,
    .contact-us-email {
      width: 47%;
      @include breakpoint(xs) {
        width: 100%;
      }
    }
    .contact-us-subject,
    .contact-us-message {
      width: 100%;
    }
    .contact-us-message {
      height: 100px;
      overflow: hidden;
      line-height: calc(100 * 9.5%);
      margin-bottom: 50px;
      &:focus {
        line-height: 0.8125rem;
      }
    }
  }
}

.map--wrapper {
  position: relative;
  height: 40vh;
}
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.map-adress--wrapper {
  z-index: 99;
  position: relative;
}
.map-address {
  z-index: 99;
  position: absolute;
  left: 30px;
  right: 60px;
}
.map-address-box {
  height: 100%;
  width: 50%;
  background: $background3;
  margin: 25px 0;
  padding: 30px;
  @include breakpoint(xs) {
    width: 75%;
    margin: 20px 0;
  }
}

.map-address-box {
  .row {
    align-items: center;
    div[class^="col"] {
      margin-bottom: 10px;
    }
  }
  i[class^="fa"] {
    font-size: 0.75rem;
    width: 1.5rem;
    text-align: center;
    line-height: 0.9rem;
    padding: 0.3125rem;
    border-radius: 50%;
    color: $background3;
    background: $color3;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $color4;
    }
    &:active,
    &:focus {
      background: $background1;
    }
  }
}
.map-address-box--text {
  font-size: 0.75rem;
  color: $color3;
  @include breakpoint(xs) {
    font-size: 0.625rem;
  }
  @include breakpoint(sm) {
    font-size: 0.625rem;
  }
}
.map-address-box--icons {
  @include breakpoint(xs) {
    display: none;
  }
  @include breakpoint(sm) {
    display: none;
  }
}
