.happy-clients {
  &-box {
    padding: 30px;
    text-align: center;
    &-name {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: -0.75rem;
    }
    &-title {
      font-size: 1.125rem;
    }
    &-text {
      font-size: 0.875rem;
      color: $color8;
    }
    .fas {
      color: $color8;
      font-size: 1.5rem;
    }
  }
  &-wrapper {
    margin: -15px;
    text-align: center;
    align-items: center;
  }
  &-logo {
    padding: 15px;
    cursor: pointer;
  }
}
