.hero {
  z-index: -1;
  .hero-image-1,
  .hero-image-2,
  .hero-image-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .hero-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../src/images/home1.jpg");
  }
  .hero-image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../src/images/home2.jpg");
  }
  .hero-image-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../src/images/home3.jpg");
  }
}

.glide__slides {
  margin: 0;
}

.glide__bullet {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid $color4;
  margin: 0 0.3125em;
}
.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid $color4;
  background-color: $color4;
}
.glide__bullet--active {
  background-color: $color4;
}

.hero-content {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: $color2;
  margin-top: -60vh;
  height: 40vh;
  margin-bottom: calc(20vh);
  &-text {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 800;
    @include breakpoint(xs) {
      font-size: 2.25rem;
    }
    @include breakpoint(sm) {
      font-size: 3rem;
    }
    @include breakpoint(md) {
      font-size: 4rem;
    }
    &--diffColor {
      color: $color4;
      line-height: 1;
      display: block;
    }
  }
  &-phone {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    @include breakpoint(xs) {
      font-size: 1rem;
    }
    @include breakpoint(sm) {
      font-size: 1rem;
    }
    @include breakpoint(md) {
      font-size: 1.33rem;
    }
  }
}
