.our-team {
  //min-height: calc(75vh - 60px);
  &--sectionBackground {
    height: 75vh;
    width: 100%;
    background-image: url("../src/images/Img_team_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.glide__slide--teamBox {
  height: auto;
  background: $background3;
  padding: 30px;
}
.glide__bullet--widerThanMobile {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
  @include breakpoint(lg) {
    display: block;
  }
}
.glide__bullet--mobile {
  @include breakpoint(md) {
    display: none;
  }
  @include breakpoint(lg) {
    display: none;
  }
}
