.our-team {
  //min-height: calc(75vh - 60px);
  &--sectionBackground {
    height: auto;
    width: 100%;
    background-image: url("../src/images/Img_team_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.our-team-box {
  background: $background3;
  padding: 30px;
  text-align: center;
  &-name {
    font-size: 1.3125rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &-title {
    font-size: 0.875rem;
    margin-top: 0.4rem;
  }
  &-icons {
    margin-top: 2.5rem;
    margin-left: -15px;
    margin-right: -15px;
    i[class^="fa"] {
      font-size: 1.25rem;
      width: 2.5rem;
      text-align: center;
      line-height: 1.875rem;
      padding: 0.3125rem;
      border-radius: 50%;
      background: $background6;
      color: $background3;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $color4;
      }
    }
  }
}
