.price {
  &--wrapper {
    margin: 0 0 0 -30px;
  }
  &--box {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 30px;
    padding: 30px 60px;
    text-align: center;
    font-size: 0.625rem;
    background: $background3;
    align-items: center;
    @include breakpoint(xs) {
      max-width: calc(100% - 30px);
    }
    @include breakpoint(sm) {
      max-width: calc(50% - 30px);
    }
    @include breakpoint(md) {
      max-width: calc(50% - 30px);
    }
    @include breakpoint(lg) {
      max-width: calc(25% - 30px);
    }
  }
  &-package {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $color9;
  }
  &-amount {
    color: $color9;
    font-size: 1.875rem;
    font-weight: 700;
  }
  &-month {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: $color3;
    margin-top: -0.3125rem;
  }
  &-text {
    color: $color8;
  }
  &-text:last-of-type {
    margin-bottom: 1.75rem;
  }
  &-horizontalLines {
    width: 10px;
    height: 1px;
    border-top: 1px solid $color8;
    margin-top: 7px;
    margin-bottom: 6px;
  }
}
