$background1: #000;
$background2: #f7f7f7;
$background3: #fff;
$background4: #373737;
$background5: #ededed;
$background6: #bebebe;
$background1-opacity: rgba(0, 0, 0, 0.5);
$background-overlay: #3a3b36c9;
$color1: #000;
$color2: #fff;
$color3: #aeaeae;
$color4: #b88b58;
$color5: #4e4e4e;
$color6: #5f5f5f;
$color7: #a7a7a7;
$colo8: #7e7e7e;

$default-font: "Montserrat", sans-serif;

$menu-font-size: 0.875em;
$menu-smaller-font-size: 0.75em;
