$background1: #000;
$background2: #f7f7f7;
$background3: #fff;
$background4: #373737;
$color1: #000;
$color2: #fff;
$color3: #aeaeae;
$color4: #b88b58;
$color5: #4e4e4e;

$default-font: "Montserrat", sans-serif;

$menu-font-size: 0.875em;
