@import "variables";
@import "mixins";
@import "breakpoints";
@import "normalize";

/* Components */
@import "./components/general";

/* Sections */
@import "./sections/navbar";
@import "./sections/home";
@import "./sections/about-us";
@import "./sections/services";
@import "./sections/our-projects";
@import "./sections/our-team";
@import "./sections/happy-clients";
@import "./sections/price";
@import "./sections/premium";
@import "./sections/some-facts";
@import "./sections/tell-about-us";

* {
  box-sizing: border-box;
  font-family: $default-font;
  line-height: 1.42857143;
}

body {
  margin: 0 auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  &--noPadding {
    padding: 0;
  }
}

.container-fluid {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

section {
  padding: 60px 0;
  background-color: $background2;
}
.section--blackBackground {
  background: $background1;
}
.section--whiteBackground {
  background: $background3;
}
.section--smallerPadding {
  padding: 30px 0;
}
