@import "variables";
@import "mixins";
@import "breakpoints";
@import "normalize";
@import "layout";

/* Components */
@import "components/navbar";

/* Sections */
//@import "sections/registration_form";

* {
  box-sizing: border-box;
  font-family: $default-font;
  line-height: 1.42857143;
}

body {
  margin: 0 auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
