.btn {
  font-size: 0.75rem;
  @include breakpoint(xs) {
    font-size: 0.6rem;
    padding: 0.8rem 2.4rem;
    border-radius: 5.6rem;
  }
  @include breakpoint(sm) {
    font-size: 0.675rem;
    padding: 0.9rem 2.7rem;
    border-radius: 5.6rem;
  }
  padding: 1rem 3rem;
  border-radius: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  color: $color2;
  background-color: $color4;
  border: 1px solid transparent;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  &:focus,
  &:active {
    border: 1px solid $color1;
    background-color: $background1;
  }
  &--marginTop {
    margin: 30px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.875rem;
  &--whiteBackground {
    color: $color1;
  }
  &--blackBackground {
    color: $color2;
  }
}
.subtitle {
  font-size: 0.875rem;
  margin-bottom: 50px;
  color: $color3;
}
.title,
.subtitle {
  text-transform: uppercase;
  text-align: center;
}

.glide__track--marginBottom {
  margin-bottom: 60px;
}
.glide__bullets--marginBottom {
  bottom: -4rem;
}
.glide__bullets--marginBottomCustomer {
  bottom: 0rem;
}
